POSTGRES_PASSWORD=wikijs-local-test
WIKI_ADMIN_EMAIL=admin@redstone.local
WIKI_ADMIN_PASSWORD=redstone-local-test
WIKI_URL=http://127.0.0.1:3000
WIKI_SITE_HOST=http://127.0.0.1:3000
REDSTONE_LMS_AGENT_TOKEN=dev-local-test-token
REDSTONE_LMS_FORMATEUR_TOKEN=dev-formateur-token
REDSTONE_LMS_OPS_TOKEN=dev-ops-token
